<!DOCTYPE html>
<html>
    





    <head>
        <title>Astronauts and their craft</title>
    
    
    
    
    
    
    
    </head>
    
    





    <body>
   
        <h1>People in Space</h1>
        
        
        {% if data %}

            <ul>
                {% for person in data %}

                    <li>{{ person.name }} - {{ person.craft}}</li>

            
                {% endfor %}
            
            </ul>

        
        {% else %}
        
        
        <p>Data cannot be displayed</p>
        
        
        
        {% endif %}    


    </body>


</html>